@using OganiShoppingProject.ViewModel.Shop
@model ShopVM


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="Assets/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Məhsullar</h2>
                    <div class="breadcrumb__option">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <span>Məhsullar</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-6">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Endirimli Mehsullar</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">
                            @foreach (var item in Model.saleoffproducts)
                            {
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                             data-setbg="Assets/img/@item.Image">
                                            <div class="product__discount__percent">-@item.LessPercent%</div>
                                            <ul class="product__item__pic__hover">

                                                <li><a asp-controller="Shop" asp-action="BasketSaleoffDetails" asp-route-Id="@item.Id"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">

                                            <h5><a asp-controller="Shop" asp-action="SaleoffDetails" asp-route-Id="@item.Id">@item.Name</a></h5>
                                            <div class="product__item__price">@item.AfterPrice AZN<span>@item.BeforePrice AZN</span></div>
                                        </div>
                                    </div>
                                </div>

                            }


                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2> Məhsullar</h2>
                        </div>
                        <div class="featured__controls">
                            <ul>
                                @foreach (var item in Model.category)
                                {
                                    <li>

                                        <a asp-controller="Shop" asp-action="Index" asp-route-CategoryId="@item.Id">@item.Name</a>

                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                    @foreach (var item in Model.pagination.Items)
                    {
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="Assets/img/@item.Image">
                                    <ul class="product__item__pic__hover">

                                        <li><a asp-controller="Shop" asp-action="BasketProductDetails" asp-route-Id="@item.Id"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a asp-controller="Shop" asp-action="ProductDetails" asp-route-Id="@item.Id">@item.Name</a></h6>
                                    <h5>@item.Price AZN</h5>
                                </div>
                            </div>
                        </div>
                    }



                </div>
                <nav aria-label="...">

                    <ul class="pagination">
                        @if (Model.pagination.CurrentPage != 0)
                        {
                            <a class="page-link" asp-action="Index" asp-route-page="@(Model.pagination.CurrentPage-1)">Evvelki</a>
                        }
                        @for (int i = 0; i < Model.pagination.TotalPage; i++)
                        {
                            <a class="page-link @(i==Model.pagination.CurrentPage?"disable": "")" asp-action="Index" asp-route-page="@i">@(i + 1) </a>
                        }
                        @if (Model.pagination.CurrentPage + 1 < Model.pagination.TotalPage)
                        {
                            <a class="page-link" asp-action="Index" asp-route-page="@(Model.pagination.CurrentPage+1)">sonraki</a>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->