@using OganiShoppingProject.Models.MaintoMain
@using OganiShoppingProject.ViewModel.Shop
@model SaleoffProductDetailsVM


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg">
    <img src="~/Assets/img/breadcrumb.jpg" alt="" />
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Məhsul</h2>
                    <div class="breadcrumb__option">
                        <a asp-controller="Home" asp-action="index">Əsas Səhifə</a>
                        <a asp-controller="Shop" asp-action="index">Məhsullar</a>
                        <span>Məhsul</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="~/Assets/img/@Model.saleoffproduct.Image" alt="">
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.saleoffproduct.Name</h3>

                    <div class="product__details__price">@Model.saleoffproduct.AfterPrice</div>
                    <p>
                        @Model.saleoffproduct.Desc
                    </p>

                    <a asp-controller="Shop" asp-action="BasketSaleoffDetails" asp-route-Id="@Model.saleoffproduct.Id" class="primary-btn">Səbətə əlavə edin</a>

                    <ul>
                        <li><b>Movcudluğu </b> <span>@Model.saleoffproduct.InStock</span></li>

                        <li>
                            <b>Ölçüsü</b> <span>
                                @foreach (SizeofSaleoffProduct item in Model.saleoffproduct.SizeofSaleoffProducts)
                                {
                                    @item.Sizes.Name
                                }
                            </span>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Product Details Section End -->
<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Digər Məhsullar</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="product__discount__slider owl-carousel">
                @foreach (var item in Model.saleoffproducts)
                {
                    <div class="col-lg-4">
                        <div class="product__discount__item">
                            <div class="product__discount__item__pic set-bg">
                                <img src="~/Assets/img/@item.Image" />
                                <div class="product__discount__percent">-@item.LessPercent%</div>
                                <ul class="product__item__pic__hover">

                                    <li><a asp-controller="Shop" asp-action="BasketSaleoffDetails" asp-route-Id="@item.Id"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__discount__item__text">

                                <h5><a asp-controller="Shop" asp-action="SaleoffDetails" asp-route-Id="@item.Id">@item.Name</a></h5>
                                <div class="product__item__price">@item.AfterPrice AZN<span>@item.BeforePrice AZN</span></div>
                            </div>
                        </div>
                    </div>

                }


            </div>
        </div>
    </div>
</section>
<!-- Related Product Section End -->