@using OganiShoppingProject.ViewModel
@model PaginationVM<Message>
@{
    int count = 1;
}
<div class="col-lg-9 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Mesajlar</h4>



            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sira Nomresi</th>
                            <th>Ad </th>

                            <th>Email </th>
                            <th>Mesaj </th>



                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Items)
                        {

                            <tr>
                                <td>@(count++)</td>

                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>@item.Yourmessage</td>

                                <td>

                                    <a asp-controller="Message" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-warning"><i class="mdi mdi-delete"></i></a>

                                </td>
                            </tr>

                        }






                    </tbody>
                </table>
                <div>
                    <nav aria-label="...">

                        <ul class="pagination">
                            @if (Model.CurrentPage != 0)
                            {
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage-1)">Evvelki</a>
                            }
                            @for (int i = 0; i < Model.TotalPage; i++)
                            {
                                <a class="page-link @(i==Model.CurrentPage?"disable": "")" asp-action="Index" asp-route-page="@i">@(i + 1) </a>
                            }
                            @if (Model.CurrentPage + 1 < Model.TotalPage)
                            {
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage+1)">sonraki</a>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>